<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{layout/layout :: head}"> </head>

<body class="m-0 p-0 font-sans bg-[url('/images/hab1.jpg')] bg-cover bg-center bg-fixed">
<header th:replace="~{layout/layout :: header}"></header>

<div th:replace="~{layout/layout :: nuevo2}"></div>
<link rel="stylesheet" th:href="@{/css/styleRes.css}">

<div class="mt-12 w-full max-w-7xl mx-auto p-4">
    <h1 class="text-2xl flex justify-center font-bold text-slate-900 mb-8 mt-10 font-['Poppins']">
        [[${title}]]
    </h1>
    <div class="bg-white overflow-x-auto shadow-md rounded-lg ">
        <table class="w-full text-sm bg-white rounded-lg shadow-md text-stone-700">
            <thead>
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Guest
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Start Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        End Date
                    </th>
                    <th scope="col" class="px-6 py-3">
                        State
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Rooms
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Situation
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody th:each="reserva: ${reservas}" class="bg-white border-b hover:bg-stone-50 ">
             <td class=" px-6 py-4 font-medium text-stone-900 whitespace-nowrap">
                 <span th:text="${reserva.idReserva}"></span>
             </td>
            <td class="px-6 py-4">
                <span th:text="${reserva.usuario.nombreUsu + ' '+ reserva.usuario.apellidoUsu}"></span>
            </td>
             <td class="px-6 py-4">
                 <span th:text="${reserva.fechaIni}"> </span>
             </td>
             <td class="px-6 py-4">
                 <span th:text="${reserva.fechaFin}"> </span>
             </td>
             <td class="px-6 py-4">
                 <span th:text="${reserva.estadoRes}"> </span>
             </td>
             <td class="px-6 py-4">
                 <ul class="list-none pl-0">
                 <li th:each="hab: ${reserva.habitaciones}" th:text="${hab.idHabitacion}"> </li>
                 </ul>
             </td>
                <td class="px-6 py-4">
                    <span th:if="${ reserva.estadoRes == 'Cancelada'}">Canceled</span>
                    <span th:if="${ reserva.estadoRes != 'Cancelada' and reserva.fechaFin.isBefore(T(java.time.LocalDate).now())}">Expired</span>
                    <span th:if="${reserva.estadoRes !='Cancelada' and !reserva.fechaIni.isAfter(T(java.time.LocalDate).now()) and
    !reserva.fechaFin.isBefore(T(java.time.LocalDate).now())}"> Active</span>
                    <span th:if="${reserva.estadoRes != 'Cancelada' and reserva.fechaIni.isAfter(T(java.time.LocalDate).now())}">Upcoming</span>
                </td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>